@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&family=Yeseva+One&display=swap');

.page {
    background-color: #E9E9DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #2C2D26;
    width: 100%;
    padding: 50px;
    color: #E9E9DB;
}

.title_search {
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
}

.form_search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    }

.form_search input{
    border: 1px solid #E9E9DB;
    width: 15em;
    border-radius: 10px;
    background-color: #2C2D26;
  }

.grid {
    display: flex;
    justify-content: center;
    width: 75%;
}

.museos {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
    gap: 60px;
}

.museo {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.museo p {
    display: flex;
    margin-top: 1em;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}